<div class="container">

  <form #trackForm="ngForm">
    <ul>
      <li *ngFor="let mytrack of tracks">
        <label>[{{mytrack.id}}] {{ mytrack.name }} ({{mytrack.description}}):
          {{mytrack.length.value}}({{mytrack.length.unit}})</label>

        <ul>
          <li *ngFor="let car of mytrack.cars">
            <label>[{{car.id}}] {{ car.code }} {{car.transmission}} {{car.ai}}
              {{car.max_speed.value}}/{{car.max_speed.unit}} </label>
          </li>
        </ul>

      </li>
    </ul>
  </form>

  <h3>Add new track</h3>

  <form #trackForm="ngForm" (ngSubmit)="saveTrack()">

    <div class="row">
      <div class="col-md-3">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="track.name" name="name">
      </div>
      <div class="col-md-3">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" required [(ngModel)]="track.description"
               name="description">
      </div>
      <div class="col-md-1">
        <label for="length">Length</label>
        <input type="text" class="form-control" id="length" required [(ngModel)]="track.length.value" name="length">
      </div>
      <div class="col-md-1">
        <label for="unit">Unit</label>
        <input type="text" class="form-control" id="unit" required [(ngModel)]="track.length.unit" name="unit">
      </div>
    </div>
    <p></p>

    <button type="submit" class="btn btn-success">Add track</button>
  </form>

</div>
