<div class="container">

  <h1>Track information</h1>

  <form #track="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="track.name" name="name">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="track.description"
             name="description">
    </div>

    <div class="form-group">
      <label for="length">Length</label>
      <input type="text" class="form-control" id="length" required [(ngModel)]="track.length" name="length">
    </div>

    <div class="form-group">
      <label for="unit">Unit</label>
      <input type="text" class="form-control" id="unit" required [(ngModel)]="track.unit" name="unit">
    </div>


    <button type="submit" class="btn btn-success">Add track</button>

  </form>
</div>
