<div class="container">

  <h1>Car information</h1>

  <form>
    <div class="form-group">
      <label for="code">Code</label>
      <input type="text" class="form-control" id="code" required>
    </div>

    <div class="form-group">
      <label for="transmission">Transmission</label>
      <input type="text" class="form-control" id="transmission" required>
    </div>

    <div class="form-group">
      <label for="ai">AI</label>
      <input type="text" class="form-control" id="ai" required>
    </div>

    <div class="form-group">
      <label for="maxSpeedValue">Max Speed Value</label>
      <input type="text" class="form-control" id="maxSpeedValue" required>
    </div>

    <div class="form-group">
      <label for="maxSpeedUnit">Max Speed Unit</label>
      <input type="text" class="form-control" id="maxSpeedUnit" required>
    </div>

    <button type="submit" class="btn btn-success">Add car</button>

  </form>
</div>
